.wrapper {
    margin: 0;
    padding-top: 4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f5f5f5;
    position: relative;
}

.caisseWrapper {
    min-height: 100vh;
}

.dailyTitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.alimentsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    row-gap: 20px;
}

.alimentItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 5px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 1.3rem;
    cursor: pointer;
}

.alimentItemDisabled {
    opacity: 0;
    pointer-events: none;
}

.alimentItemHover:hover {
    background-color: #ccc;
}

.ticket {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.ticketHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.ticketButton {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #0c2034;
    background-color: #0c2034;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.ticketList {
    list-style: none;
    padding: 0;
}

.ticketItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.ticketItem:last-child {
    border-bottom: none;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.summaryTable {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.summaryTableHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.summaryTableBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summaryTableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.summaryTableHeader {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.summaryTableData {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.summaryButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.summaryButton {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #0c2034;
    background-color: #0c2034;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.backButton {
  background-color: #0c2034;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 1rem;
  cursor: pointer;
  align-self: start;
}