.aliments-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  row-gap: 20px;
}

.aliment-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.aliment-item-text {
  font-size: 1.75rem;
}