.event-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;
}

.back-button {
  background-color: #0c2034;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 1rem;
  cursor: pointer;
  align-self: start;

}

.button {
  background-color: #0c2034;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.aliments-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  row-gap: 20px;
  min-width: 60vw;
}

.aliment-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 5px;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 1.3rem;
  cursor: pointer;
}

.aliment-item-0 {
  opacity: 0;
  pointer-events: none;
}

.aliment-item:hover {
  background-color: #ccc;
}

.ticket {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ticket-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #0c2034;
  background-color: #0c2034;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.ticket-list {
  list-style: none;
  padding: 0;
}

.ticket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.ticket-item:last-child {
  border-bottom: none;
}

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.summary-table {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.summary-table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.summary-table-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-table-row {
  width: 100%;
}

.summary-table-header {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.summary-table-data {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.summary-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.summary-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #0c2034;
  background-color: #0c2034;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-label {
  margin-bottom: 10px;
}

.form-input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.form-button {
  padding: 10px;
  background-color: #0c2034;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #0c203420;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #0c2034;
  background-color: #0c2034;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}